<!--= debug(@event.eventdates) -->

<%= form_for [:organizer, @event], class:'form' do |f| %>
<%= render "layouts/message_error_organizer" %>
<%= render "layouts/message_flash" %>

<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-5">
		<fieldset>
			<legend>1. What</legend>
			<div><span class="help-block">Fill in the required fields and click the submit button to create an event.</span></div><br>
			
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :name, "Name <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_field :name, class: "form-control" %>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :description, "Description <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_area :description, rows: "8", class: "form-control", placeholder: "Provide a detailed description of the event. An outline works well." %>
					<span class="help-block">Detailed description of the event such as an outline.</span>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :requirement, "Requirements", class:"control-label" %>
					<%= f.text_area :requirement, rows: "5", class: "form-control", placeholder: "- ID\n- laptop\n- dress-code" %>
					<span class="help-block">Such as: laptop, book, ID, or dress-code.</span>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :price, "Price (USD per person)", class: "control-label" %>
					<%= f.text_field :price, class: "form-control" %>
				</div>
				<div class="col-md-1"></div>
			</div>	

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :eventtype_id, "Type <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.select :eventtype_id, options_from_collection_for_select(Eventtype.all, :id, :name, selected: @event.eventtype_id), {}, {title: "Event Types", class: "form-control"} %>
					<span class="help-block">Select the event type.</span>
				</div>
				<div class="col-md-1"></div>
			</div>
			
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :attachments, "Attachment <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_field :attachments, class: "form-control" %>
					<span class="help-block">Upload up to 20 photos.</span>
				</div>
				<div class="col-md-1"></div>
			</div>
		</fieldset><br><br><br>
	</div>

	<div class="col-lg-5">
		<fieldset>
			<legend>2. Who</legend>
			<div><span class="help-block">Who is the organizer of the event and who is allowed to attend.</span></div><br>
			
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :contact, "Organizer Contact Information <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_area :contact, rows: "3", class: "form-control", placeholder: "- fullname\n- phone\n- email" %>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :eventattendeetype_id, "Attendee Type<span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.select :eventattendeetype_id, options_from_collection_for_select(Eventattendeetype.all, :id, :name, @event.eventattendeetype_id), {}, {title: "Event Attendee", class: "form-control"} %>
					<span class="help-block">Select the type of attendee for this event.</span>
				</div>
				<div class="col-md-1"></div>
			</div>
		</fieldset><br><br><br>

		<fieldset>
			<legend>3. When</legend>
			<div><span class="help-block">Select 1-14 day(s) for this event.</span></div><br>
			
			<div class="row form-group">
				<div class="col-md-5">
					<input type="input" name="event_start" id="event_start" class="form-control">
				</div>
				<div class="col-md-7">
					<table style="width:100%;" cellspacing="2" id="event_date_table">
						<thead>
							<tr>
								<th></th>
								<th>Event Date</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="event_date_tbody">
							<tr class="tr_clone" id="tr_clone" style="visibility: hidden;">
								<td style="width:8%; padding-bottom:8px; padding-right:10px; text-align:right"><span class="count" style="font-size: 1.2em"></span></td>
								<td style="width:26%; padding-bottom:8px;"><span class="dateshow" style="font-size: 1.2em">99/99/9999</span></td>
								<td style="width:28%; padding-bottom:8px;"><input type="text" name="starttime[]" class="form-control starttime" style="width:90%; font-size: 1.2em"></td>
								<td style="width:28%; padding-bottom:8px;"><input type="text" name="endtime[]" class="form-control endtime" style="width:90%; font-size: 1.2em"></td>
								<td style="width:10%; padding-bottom:8px;"><button type="button" class='btn btn-default glyphicon glyphicon-remove btnDel' style="color:red" title="remove"></button><input type="hidden" name="eventdate[]" class="eventdate"></td>
							</tr>
							<input type="hidden" name="current_eventdates" id="current_eventdates" value="<%= @event.eventdates.to_json %>">
						</tbody>
					</table>
				</div>
			</div>
		</fieldset><br><br><br>

		<fieldset>
			<legend>4. Where</legend>
			<div><span class="help-block">Provide an exact address or a general location.</span></div><br>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :address, "Address <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_field :address, class: "form-control" %>
				</div>
				<div class="col-md-1"></div>
			</div>
		</fieldset><br><br><br>
	</div>
	<div class="col-lg-1"></div>
</div>

<hr>
<div class="row form-group">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Cancel".html_safe, organizer_events_path, :title =>"cancel & back to listings" %>
	</div>
	<div class="col-md-5" align="right">
		<%= f.submit "#{params[:action] == 'new' ? 'Submit' : 'Update'} Event", :class => "btn btn-default" %>
	</div>
	<div class="col-md-1"></div>
</div>
<% end -%>
<br><br><br><br>