<%= form_for [:organizer, @event], class:'form' do |f| %>
<%= render "layouts/message_error_organizer" %>
<%= render "layouts/message_flash" %>

<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-5">
		<fieldset>
			<legend>1. What</legend>
			<div><span class="help-block">Fill in the required fields and click the submit button to create an event.</span></div><br>
			
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :name, "Name <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_field :name, class: "form-control" %>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :description, "Description <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_area :description, rows: "8", class: "form-control", placeholder: "Provide a detailed description of the event. An outline works well." %>
					<span class="help-block">Detailed description of the event such as an outline.</span>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :requirement, "Requirements", class:"control-label" %>
					<%= f.text_area :requirement, rows: "5", class: "form-control", placeholder: "- ID\n- laptop\n- dress-code" %>
					<span class="help-block">Such as: laptop, book, ID, or dress-code.</span>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :price, "Price (USD per person)", class: "control-label" %>
					<%= f.text_field :price, class: "form-control" %>
				</div>
				<div class="col-md-1"></div>
			</div>	

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :eventtype_id, "Type <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.select :eventtype_id, options_from_collection_for_select(Eventtype.all, :id, :name, selected: @event.eventtype_id), {}, {title: "Event Types", class: "form-control"} %>
					<span class="help-block">Select the event type.</span>
				</div>
				<div class="col-md-1"></div>
			</div>
			
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :attachments, "Attachment <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_field :attachments, class: "form-control" %>
					<span class="help-block">Upload up to 20 photos.</span>
				</div>
				<div class="col-md-1"></div>
			</div>
		</fieldset><br><br><br>
	</div>

	<div class="col-lg-5">
		<fieldset>
			<legend>2. Who</legend>
			<div><span class="help-block">Who is the organizer of the event and who is allowed to attend.</span></div><br>
			
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :contact, "Organizer Contact Information <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_area :contact, rows: "3", class: "form-control", placeholder: "- fullname\n- phone\n- email" %>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :eventattendee_id, "Attendee Type<span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.select :eventattendee_id, options_from_collection_for_select(Eventattendee.all, :id, :name, @event.eventattendee_id), {}, {title: "Event Attendee", class: "form-control"} %>
					<span class="help-block">Select the type of attendee for this event.</span>
				</div>
				<div class="col-md-1"></div>
			</div>
		</fieldset><br><br><br>

		<fieldset>
			<legend>3. When</legend>
			<div><span class="help-block">Select date(s) for this event.</span></div><br>
			
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<input type="input" name="event_start" id="event_start" class="form-control">
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label 'end', "End Date <span class='required'>*</span>".html_safe, class: "control-label" %>
					<input type="input" name="event_end" id="event_end" class="form-control">
				</div>
				<div class="col-md-1"></div>
			</div>
		</fieldset><br><br><br>

		<fieldset>
			<legend>4. Where</legend>
			<div><span class="help-block">Provide an exact address or a general location.</span></div><br>

			<div class="row form-group">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= f.label :address, "Address <span class='required'>*</span>".html_safe, class: "control-label" %>
					<%= f.text_field :address, class: "form-control" %>
				</div>
				<div class="col-md-1"></div>
			</div>
		</fieldset><br><br><br>
	</div>
	<div class="col-lg-1"></div>
</div>

<hr>
<div class="row form-group">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Cancel".html_safe, organizer_events_path, :title =>"cancel & back to listings" %>
	</div>
	<div class="col-md-5" align="right">
		<%= f.submit "#{params[:action] == 'new' ? 'Submit' : 'Update'} Event", :class => "btn btn-default" %>
	</div>
	<div class="col-md-1"></div>
</div>
<% end -%>
<br><br><br><br>