<% @page_title="TRKS: Executive Summary" %> 

<h1>TRKS: Executive Summary</h1><br>

<% if @trks.length > 0 %>
<% if request.format.html? %>
<div class="row">
	<div class="col-md-6">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Back To Dashboard".html_safe, home_path , :title =>"Back To Dashboard", :id => "back_link" %>
	</div>	
	<div class="col-md-6" align="right">
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to PDF".html_safe, url_for(:format => 'pdf'), :title =>"export to PDF" %>&nbsp;&nbsp;&nbsp;
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to CSV".html_safe, url_for(:format => 'csv'), :title =>"export to CSV" %>&nbsp;
	</div>	
</div>
<% end %>

<div class="table-responsive">	
<table width="100%" class="table table-hover table-condensed">
	<thead>	
	<tr><td colspan="10"></td></tr>
	<tr>
		<th scope="col">#</th>     
		<th scope="col">FCO</th>
		<% @trkstransaction.each do |t| %>
		<th scope="col" class="text_align_center"><%= t.name %></th>
		<% end %>		
	</tr>
	</thead>
	<tbody>
		<% @trks.each do |trks| %>
		<% if trks['fco'].blank? %>
			<% trks['fco'] = "N/A" %>
			<% fco_style = "text_bold" %>
		<% else %>
			<% fco_style = "" %>
		<% end %>		
		<tr scope="row" class="appSmaller">			
			<td scope="row"><%= trks['currentrow'] %></td>
			<td><%= trks['fco'] %></td>
			<% @trkstransaction.each do |t| %>
				<td class="text_align_center">
					<% if trks['transaction'][t.name] == 0 %>
						0
					<% else %>
						<% if request.format.html? %>
							<%= link_to trks['transaction'][t.name], admin_trks_privilege_detail_path(trans: t.name, fco: trks['fco'], from: 'exec'), :title =>"#{trks['fco']} - #{t.name} - #{trks['transaction'][t.name]}", :class => fco_style %><%= trks["transaction"]["#{t.name}_highlighted"] %>
						<% else %>
							<%= trks['transaction'][t.name] %><%= trks["transaction"]["#{t.name}_highlighted"] %>
						<% end %>
					<% end %>
				</td>
			<% end %>			
		</tr>
		<% end %>
	<tbody>
</table>

<div class="row">
	<div class="col-md-12">Data Import: <%= @data_import.created_at.strftime("%b %Y") %>, Report Generated: <%= DateTime.now.strftime("%-m/%e/%Y %l:%M:%S %p ET") %></div>
</div>
<div class="row">
	<div class="col-md-12">* = 7200 series transactions (not REC or COW).</div>
</div><br>

</div>

<% else %>
<div align="center"><br><br>No Record Found</div>
<% end %>

