<% @page_title="TRKS: Report By Location" %> 

<h1>TRKS: Report By Location (<%= params[:fco] %>)</h1><br>

<% if @trks.length > 0 %>
<% if request.format.html? %>
<div class="row">
	<div class="col-md-6">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Back To Dashboard".html_safe, home_path , :title =>"Back To Dashboard", :id => "back_link" %>
	</div>	
	<div class="col-md-6" align="right">
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to PDF".html_safe, url_for(:format => 'pdf', :fco => params[:fco]), :title =>"export to PDF" %>&nbsp;&nbsp;&nbsp;
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to CSV".html_safe, url_for(:format => 'csv', :fco => params[:fco]), :title =>"export to CSV" %>&nbsp;
	</div>	
</div>
<% end %>

<% currentrow=0%>		
<table width="100%" class="table table-hover table-condensed">
	<thead>	
	<tr><td colspan="10"></td></tr>
	<tr>
		<th scope="col">#</th>     
		<th scope="col">TRKS Transaction</th>
		<th scope="col">Transaction Description</th>
		<th scope="col" class="text_align_center"># of Users</th>
		<th scope="col" class="text_align_center"># of Allowed Users</th>
	</tr>
	</thead>
	<tbody>
		<% @trks.each do |trks| %>
		<tr scope="row" class="appSmaller">
			<td scope="row"><%= trks['currentrow'] %></td>
			<td>
				<% if request.format.html? %>
					<%= link_to trks['trans_name'], admin_trks_privilege_detail_path(trans: trks['trans_name'], fco: params[:fco], from: 'loc'), :title =>"#{trks['trans_id']}: #{trks['trans_name']}" %>
				<% else %>
					<%= trks['trans_name'] %>
				<% end %>
			</td>
			<td><%= trks['trans_description'] %></td>
			<td class="text_align_center"><%= trks['user_number'] %><% if (trks['user_number'].to_i > trks['user_allowed'].to_i) && !trks['user_allowed'].nil? %>*<% end %></td>
			<td class="text_align_center"><%= trks['user_allowed'] %></td>
		</tr>
		<% end %>
	<tbody>
</table>

<div class="row">
	<div class="col-md-12">Data Import: <%= @data_import.created_at.strftime("%b %Y") %>, Report Generated: <%= DateTime.now.strftime("%-m/%e/%Y %l:%M:%S %p ET") %></div>
</div>
<div class="row">
	<div class="col-md-12">* = The number of users is greater than the number of allowed users</div>
</div><br>

<% else %>
<div align="center"><br><br>No Record Found</div>
<% end %>
