<% @page_title="CIS: Average Number of Users" %> 

<h1>CIS: Average Number of Users</h1><br>

<% if @average_users.length > 0 %>	
<% if request.format.html? %>
<div class="row">
	<div class="col-md-6">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Back to Dashboard".html_safe, home_path , :title =>"Back to Dashboard", :id => "back_link" %>
	</div>	
	<div class="col-md-6" align="right">
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to PDF".html_safe, url_for(:format => 'pdf'), :title =>"export to PDF" %>&nbsp;&nbsp;&nbsp;
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to CSV".html_safe, url_for(:format => 'csv'), :title =>"export to CSV" %>&nbsp;
	</div>	
</div>
<% end %>
	
<table width="100%" class="table table-hover table-condensed">
	<thead>	
	<tr><td colspan="10"></td></tr>
	<tr>
		<th scope="col">#</th>     
		<th scope="col" class="text_align_center">PRIV</th>
		<th scope="col" class="text_align_center">0 - 5,000</th>
		<th scope="col" class="text_align_center">5,001 - 15K</th>
		<th scope="col" class="text_align_center">15,001 - 30K</th>
		<th scope="col" class="text_align_center">30,001 - 50K</th>
		<th scope="col" class="text_align_center">50,001 - 150K</th>
		<th scope="col" class="text_align_center">&gt; 150K</th>
	</tr>
	</thead>
	<tbody>
		<% @average_users.each do |usr| %>
		<tr scope="row" class="appSmaller">			
			<td scope="row"><%= usr['currentrow'] %></td>
			<td class="text_align_center"><%= usr['privilege'] %></td>
			<td class="text_align_center"><%= usr['average_1'] %></td>
			<td class="text_align_center"><%= usr['average_2'] %></td>
			<td class="text_align_center"><%= usr['average_3'] %></td>
			<td class="text_align_center"><%= usr['average_4'] %></td>
			<td class="text_align_center"><%= usr['average_5'] %></td>
			<td class="text_align_center"><%= usr['average_6'] %></td>	
		</tr>		
		<% end %>
	<tbody>
</table><br>

<% else %>
<div align="center"><br><br>No Record Found</div>
<% end %>

