<% @page_title="CIS: Executive Summary" %> 

<h1>CIS: Executive Summary</h1><br>

<% if @cis.length > 0 %>
<% if request.format.html? %>
<div class="row">
	<div class="col-md-6">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Back to Dashboard".html_safe, home_path , :title =>"Back to Dashboard", :id => "back_link" %>
	</div>	
	<div class="col-md-6" align="right">
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to PDF".html_safe, url_for(:format => 'pdf'), :title =>"export to PDF" %>&nbsp;&nbsp;&nbsp;
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to CSV".html_safe, url_for(:format => 'csv'), :title =>"export to CSV" %>&nbsp;
	</div>	
</div>
<% end %>
		
<table width="100%" class="table table-hover table-condensed">
	<thead>	
	<tr><td colspan="10"></td></tr>
	<tr>
		<th scope="col">#</th>     
		<th scope="col">FCO</th>
		<% @cistransaction.each do |t| %>
		<th scope="col" class="text_align_center"><%= t.name %></th>
		<% end %>		
	</tr>
	</thead>
	<tbody>
		<% @cis.each do |cis| %>
		<% if cis['fco'].blank? %>
			<% cis['fco'] = "N/A" %>
			<% fco_style = "text_bold" %>
		<% else %>
			<% fco_style = "" %>
		<% end %>
		<tr scope="row" class="appSmaller">			
			<td scope="row"><%= cis['currentrow'] %></td>
			<td><%= cis['fco'] %></td>
			<% @cistransaction.each do |t| %>
				<td class="text_align_center">
					<% if cis['transaction'][t.name] == 0 %>
						0
					<% else %>
						<% if request.format.html? %>
							<%= link_to cis['transaction'][t.name], admin_cis_privilege_detail_path(trans: t.name, fco: cis['fco'], from: 'exec'), :title =>"#{cis['fco']} - #{t.name} - #{cis['transaction'][t.name]}", :class => fco_style %>
						<% else %>
							<%= cis['transaction'][t.name] %>
						<% end %>
					<% end %>
				</td>
			<% end %>			
		</tr>
		<% end %>
	<tbody>
</table>

<div class="row">
	<div class="col-md-12">Data Import: <%= @data_import.created_at.strftime("%b %Y") %>, Report Generated: <%= DateTime.now.strftime("%-m/%e/%Y %l:%M:%S %p ET") %></div>
</div><br>

<% else %>
<div align="center"><br><br>No Record Found</div>
<% end %>
