<% @page_title="CIS: Report By Location" %> 

<h1>CIS: Report By Location (<%= params[:fco] %>)</h1><br>

<% if @cis.length > 0 %>
<% if request.format.html? %>
<div class="row">
	<div class="col-md-6">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Back to Dashboard".html_safe, home_path , :title =>"Back to Dashboard", :id => "back_link" %>
	</div>	
	<div class="col-md-6" align="right">
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to PDF".html_safe, url_for(:format => 'pdf', :fco => params[:fco]), :title =>"export to PDF" %>&nbsp;&nbsp;&nbsp;
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to CSV".html_safe, url_for(:format => 'csv', :fco => params[:fco]), :title =>"export to CSV" %>&nbsp;
	</div>	
</div>
<% end %>
	
<table width="100%" class="table table-hover table-condensed">
	<thead>	
	<tr><td colspan="10"></td></tr>
	<tr>
		<th scope="col">#</th>     
		<th scope="col">CIS Transaction</th>
		<th scope="col">Transaction Description</th>
		<th scope="col" class="text_align_center"># of Users</th>
		<th scope="col" class="text_align_center"># of Allowed Users</th>
	</tr>
	</thead>
	<tbody>
		<% @cis.each do |cis| %>
		<tr scope="row" class="appSmaller">
			<td scope="row"><%= cis['currentrow'] %></td>
			<td>
				<% if request.format.html? %>
					<%= link_to cis['trans_name'], admin_cis_privilege_detail_path(trans: cis['trans_name'], fco: params[:fco], from: 'loc'), :title =>"#{cis['trans_id']}: #{cis['trans_name']}" %>
				<% else %>
					<%= cis['trans_name'] %>
				<% end %>
			</td>	
			<td><%= cis['trans_description'] %></td>
			<td class="text_align_center"><%= cis['user_number'] %><% if (cis['user_number'].to_i > cis['user_allowed'].to_i) && !cis['user_allowed'].nil? %>*<% end %></td>
			<td class="text_align_center"><%= cis['user_allowed'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="row">
	<div class="col-md-12">Data Import: <%= @data_import.created_at.strftime("%b %Y") %>, Report Generated: <%= DateTime.now.strftime("%-m/%e/%Y %l:%M:%S %p ET") %></div>
</div>
<div class="row">
	<div class="col-md-12">* = The number of users is greater than the number of allowed users</div>
</div><br>

<% else %>
<div align="center"><br><br>No Record Found</div>
<% end %>
