<% @page_title="#{SITE_ACRONYM} Dashboard" %>

<h1><%= SITE_ACRONYM %> Dashboard</h1><br>

<div class="row" align="center">
	<div class="col-md-12">
		<form class="form-inline" name="locationform" action="#">
		  <div class="form-group">
			<label class="sr-only" for="location">Location Dropdown</label>
		    <div class="input-group">
		    	<div class="input-group-addon"><strong>Location</strong></div>
				<select name="location" id="location" title="location" class="form-control">
				<% @locations.each do |fco| %>
					<option value="<%= fco.fcocode %>"<%= session[:current_fcocode] == fco.fcocode ? ' selected="selected"' : '' %>><%= fco.fcocode %> (<%= fco.fconame %>)&nbsp;&nbsp;</option>
				<% end %>
				</select>
			</div>
		  </div>
		</form>
	</div>
</div><br>


<div style="height:100px">&nbsp;</div>
