<% @page_title="Mainframe User Detail" %> 

<h1>Mainframe User Detail</h1><br>

<% if @mainframeusers.length > 0 %>
<% if request.format.html? %>
<div class="row">
	<div class="col-md-6">
		<%= link_to "<i class='glyphicon glyphicon-chevron-left'></i> Back To #{@back_to}".html_safe, home_path , :title =>"Back To #{@back_to}", :id => "back_link" %>
	</div>	
	<div class="col-md-6" align="right">
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to PDF".html_safe, url_for(:format => 'pdf', :userid => params[:userid]), :title =>"export to PDF" %>&nbsp;&nbsp;&nbsp;
		<%= link_to "<i class='glyphicon glyphicon-export'></i> Export to CSV".html_safe, url_for(:format => 'csv', :userid => params[:userid]), :title =>"export to CSV" %>&nbsp;
	</div>		
</div>
<% end %>

<table width="100%" class="table table-hover table-condensed">
	<thead>	
	<tr><td colspan="10"></td></tr>
	<tr>
		<th scope="col">#</th>     
		<th scope="col" class="text_align_center">A-NUMBER</th>
		<th scope="col" class="text_align_center">ACTION UPDATE</th>
		<th scope="col" class="text_align_center">OFC</th>
		<th scope="col" class="text_align_center">TERM ID</th>
		<th scope="col" class="text_align_center">CIS TRAN</th>
		<th scope="col" class="text_align_center">TRAN DATE/TIME</th>
		<th scope="col" class="text_align_center">F CNT</th>
	</tr>
	</thead>
	<tbody>
		<% currentrow = 0 %>
		<% @mainframeusers.each do |user| %>
		<% currentrow = currentrow+1 %>
		<tr scope="row" class="appSmaller">			
			<td scope="row"><%= currentrow %></td>
			<td class="text_align_center"><%= user.anumber %></td>
			<td class="text_align_center"><%= user.action %></td>
			<td class="text_align_center"><%= user.ofc %></td>
			<td class="text_align_center"><%= user.termid %></td>
			<td class="text_align_center"><%= user.cistran %></td>
			<td class="text_align_center"><%= user.trandate %></td>
			<td class="text_align_center"><%= user.fcnt %></td>
		</tr>		
		<% end %>
	<tbody>
</table>

<div class="row">
	<div class="col-md-12">Data Import: <%= @data_import.created_at.strftime("%b %Y") %>, Report Generated: <%= DateTime.now.strftime("%-m/%e/%Y %l:%M:%S %p ET") %></div>
</div><br>

<% else %>
<div align="center"><br><br>No Record Found</div>
<% end %>
