<% @page_title="Security" %>

<!-- SECTION 1 -->
<section id="mc-section-1" class="mc-section-1 section" style="padding:30px 10px; 30px; 10px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h2 class="h2-flush-top"><%=@page_title%></h2>
			</div>
			<div class="col-lg-7">
				<%= render "user_nav" %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-4">

				<%= render "layouts/error_message" %>
				<%= render "layouts/error_flash" %>
				
				<%= form_for @user, url: user_security_update_path, method: 'post', class:'form' do |f| %>
				<fieldset>
					<legend>Change Password</legend>

					<div class="row form-group">
						<div class="col-md-1"></div>
						<div class="col-md-10">
						<%= f.label :password_current, "Current Password", class:"control-label" %>
						<input type="password" name="password_current" id="password_current" maxlength="100" class="form-control">
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-1"></div>
						<div class="col-md-10">
						<%= f.label :password_digest, "New Password", class:"control-label" %>
						<input type="password" name="password_digest" id="password_digest" maxlength="100" class="form-control">
						</div>
						<div class="col-md-1"></div>
					</div>
				
					<div class="row form-group">
						<div class="col-md-1"></div>
						<div class="col-md-10">
						<%= f.label :password_confirmation, "Confirm New Password", class:"control-label" %>
						<input type="password" name="password_confirmation" id="password_confirmation" maxlength="100" class="form-control">
						</div>
						<div class="col-md-1"></div>
					</div>
				</fieldset>

				<hr>
				<div class="row form-group">
					<div class="col-md-1"></div>
					<div class="col-md-10" align="right">
						<%= f.submit "Save", :class => "btn btn-default" %>
					</div>
					<div class="col-md-1"></div>
				</div>
				<% end -%>
				<br><br><br><br>
			</div>

			<div class="col-lg-2"></div>

			<div class="col-lg-4">
				
				<%= form_for @user, url: user_security_update_path(@user), class:'form' do |f| %>
				<fieldset>
					<legend>General Information</legend>
					<div class="row form-group">
						<div class="col-md-1"></div>
						<div class="col-md-10">
						<%= f.label :created_at, "Created", class:"control-label" %>
						<%= f.text_field :created_at, value: @user.created_at_formatted, class:"form-control", readonly:"readonly" %>
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-1"></div>
						<div class="col-md-10">
						<%= f.label :updated_at, "Updated", class:"control-label" %>
						<%= f.text_field :updated_at, value: @user.updated_at_formatted, class:"form-control", readonly:"readonly" %>
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-1"></div>
						<div class="col-md-10">
						<%= f.label :last_sign_in_at, "Last Sign-In", class:"control-label" %>
						<%= f.text_field :last_sign_in_at, value: @user.lastsignin_at_formatted, class:"form-control", readonly:"readonly" %>
						</div>
						<div class="col-md-1"></div>
					</div>
				</fieldset>
				<% end -%>
				<br><br><br><br>
			</div>
			<div class="col-lg-1"></div>
		</div>
    </div>
</section>
<!-- END / SECTION 1 -->